.App {
  text-align: center;
  height: 100dvh;
}

.audio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.text {
  color: #6083b3;
}
