.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
}

.audio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.text {
  color: bisque;
}
